body {
    background-color: black;
    font-family: "Terminus",  monospace;
}
h1 {
    color: rgb(0, 255, 0);
}
p {
    color: rgb(0, 255, 0)
}
button {
    border-radius: 12px;
    background-color: rgb(0, 255, 0);
    border: none;
    text-align: center;
}